<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      <h5 class="text-body-emphasis h4">Traders</h5>
      <span class="text-body-secondary">Return to menu.</span>
    </div>
  </div>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
      <img src="../assets/Kasieco-Dark-Logo.png" height="50px" width="150px">
  
      <form class="d-flex" role="search">
      
        <button class="btn " type="submit"><img src="../assets/search.svg" height="30px"  width="30px"></button>
        <img src="../assets/shopping-cart.png" height="30px"  width="30px" class="cart">
      </form>
<h1>TRADERS DETAILS</h1>


<!-- <img src="/assets/Bulela.png" height="300px"  width="300px"  class="pimg">

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Buglars And Gates</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Bulela Gomoshe</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>We have buglars for your doors and windows starting from R1000 dependig on the size</p>
    <button type="button" class="btn btn-success">WhatsApp</button>
    <img1 src="/assets/trellis-bronze-lockable-security-gate-770mm-x-1950mm_600.jpeg" height="30px"  width="15px"  class="pimg">
    <img2 src="/assets/Window-buglars.jpg" height="300px"  width="300px"  class="pimg">
  </div>
  </div> -->


<img src="/assets/Luxolo.jpg" height="300px"  width="300px"  class="pimg">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Wooden products</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Luxolo Mgwayi</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>We have varios wooden products such as door, door frames, dog kennels, backless picnic banch and wardrops.</p>
    <button type="button" class="btn btn-success">WhatsApp</button>
    <img src="../assets/Dog-house.jpg" height="20px"  width="20px"  class="pimg">
        <img src="../assets/Doors2.jpg" height="30px"  width="15px"  class="pimg">
        <img src="../assets/3-24-scaled-1.jpg" height="300px"  width="300px"  class="pimg">
  </div>
</div>

<img src="/assets/Yamkela.jpg" height="300px"  width="300px"  class="pimg">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Eletronics & Plumbings</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Yamkela Ngwetsheni</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>We have Microwaves, Washing marchines, bathrooms basins, toilet seats & Friedge.</p>
    <button type="button" class="btn btn-success">WhatsApp</button>
    <img src="../assets/Basins.jpg" height="300px"  width="300px"  class="pimg">
        <img src="../assets/Friedge.jpg" height="300px"  width="300px"  class="pimg">
        <img src="../assets/Microwave.jpg" height="300px"  width="300px"  class="pimg">
  </div>
</div>