/* h1 {
<<<<<<< HEAD
    padding-right: 20px;
    font-weight: bolder;
}

h5 {
    font-weight: bolder;
}

h6 {
    font-weight: bolder;
    font-style: italic;
    color: green;
}
=======
    padding-left: 20%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: green;
}

h4 {
    font-size: medium;
    /* font-weight: lighter; */
}
 
.prod-img {
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;

} 
>>>>>>> mgwayimgwayimgwayi */