h1 {
    padding-left: 20%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: green;
}

h4 {
    font-size: medium;
    /* font-weight: lighter; */
}
 
.prod-img {
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;

} 