<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4">Add item to your list</h5>
    <span class="text-body-secondary">Return to menu.</span>
  </div>
</div>


  </div>
  
</nav>

<h1 class="header">My List</h1>

<input type="text" placeholder="Create list              +">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/assets/backless-picnic-benches-for-sale-in-cape-town.jpg" height="400px" width="400px">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/trellis-bronze-lockable-security-gate-770mm-x-1950mm_600.jpeg" height="400px" width="300px">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/Dog-house.jpg" height="400px" width="400px">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/trellis-bronze-lockable-security-gate-770mm-x-1950mm_600.jpeg" class="card-img-top"  width="11%" length="11%">
      <div class="card-body">
        
      </div>
    </div>
  </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
      <img src="/assets/black-driveway-gate-3000mm-x-2000mm_600.jpeg" height="400px" width="400px">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
</div>
