<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4">Add item to your list</h5>
    <span class="text-body-secondary">Return to menu.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <img src="../assets/logo.png" height="50px" width="150px">

    <form class="d-flex" role="search"></form>

      <button class="btn " type="submit"><img src="/assets/search.svg" height="30px"  width="30px"></button>
      <img src="../assets/shopping-cart.png" height="30px"  width="30px" class="cart">
  </div>
</nav>
    <section class="featured-products">
      <h2>Featured Products</h2>
      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748231425101844/download.jpg" alt="Product 1">
        <h3>Product 1</h3>
        <p>R1 800</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove Item</a>
      </div>
      
      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748231190237254/images.jpg" alt="Product 2">
        <h3>Product 2</h3>
        <p>R2 800</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove Item</a>
      </div>
      
      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748035500785664/Dog-house.jpg" alt="Product 3">
        <h3>Product 3</h3>
        <p>R900</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove Item</a>
      </div>

      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748033315536946/Screenshot_20230615-084707-1.jpg?width=511&height=388" alt="Product 4">
        <h3>Product 4</h3>
        <p>R920</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove Item</a>
      </div>

      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748033089065061/Screenshot_20230615-084656-1.jpg" alt="Product 5">
        <h3>Product 5</h3>
        <p>R7000</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove item</a>
      </div>

      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748035047784448/black-driveway-gate-3000mm-x-2000mm_600.jpeg" alt="Product 6">
        <h3>Product 6</h3>
        <p>R8 500</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove item</a>
      </div>

      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748033940508713/Screenshot_20230615-100622-1.jpg?width=365&height=401" alt="Product 7">
        <h3>Product 7</h3>
        <p>R6 500</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove item</a>
      </div>

      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748032678019152/Screenshot_20230615-084039-1.jpg?width=360&height=401" alt="Product 8">
        <h3>Product 8</h3>
        <p>R 1400</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove item</a>
      </div>

      <div class="product">
        <img src="https://media.discordapp.net/attachments/1107647868510150719/1121748033609154600/Screenshot_20230615-100615-1.jpg?width=361&height=401" alt="Product 9">
        <h3>Product 9</h3>
        <p>R5 000</p>
        <a href="#" class="btn">Add item</a><a href="#" class="btn">Remove item</a>
      </div>


    </section>
 
  
  <footer>
    <p>&copy; 2023 Kasi-Eco. All rights reserved.</p>
  </footer>


