h1 {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}

h6 {
    padding: 1px;
}

*{
	margin: 0;
	padding: 0;
}
nav ul{
	background-attachment: fixed;
	text-align: center;
	position: fixed;
	width: 100%;
    height: 100%;
	background-color: black;
}
nav ul li{
	display: inline-block;
	margin: 40px;
	margin-bottom: 15px;
	margin-top: 25px;
}
nav ul li a{
	text-decoration: none;
	color: #ffffff;
}
nav ul li a:hover{
	color: #137213;
}
.centered{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

#welcome{
	background-color: #ffffff;
	min-height: 50%;
	height: 480px;
	padding-top: 60px;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color: #000000;
	padding: 5px;
	text-align: center;
}
#welcome h1{
	padding-top: 90px;
	font-size: 90px;
}
#welcome h4{
    font-style: italic;
    font-size: medium;
	padding-top: 10px;
	padding-bottom: 10px;
}
#welcome p{
	font-size: 20px;
	color: rgb(0, 0, 0);

}
#welcome button{
	background-color: transparent;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
	cursor: pointer;
}
#welcome .button1 { 
  color: #4CAF50; 
  border: 2px solid #4CAF50;
}

#welcome .button1:hover {
  background-color: #4CAF50;
  color: white;
}

#about{
	background-color: rgb(238, 238, 238);;
	padding: 30px;
}
#about h3{
	font-size: medium;
	text-align: center;
}

.about-grid-container > div{
	padding:  0;
	font-family: 'Times New Roman', Times, serif;
	font-size: 10px;
}
#projects{
	text-align: center;
	padding: 30px;
	background-color: rgb(238, 238, 238);
}
#projects h3{
	font-size: 30px;
}
.project-container{
	display: grid;
	grid-template-columns: auto auto auto;

}
.project-container a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.proj{
	border-radius: 10px;
	border: 2px solid #555;
	margin: 40px;
	padding: 5px;
	box-shadow: 1px 1px #888888;
}
.proj:hover{
	box-shadow: 5px 10px #888888;
}
.proj img{
	width: 100%;
	height: auto;
}
.project-title{
	padding: 15px;
	text-align: center;
}

footer{
	background-color: #131313;
	padding: 30px;
	color: white;
}

.pimg {

    border-radius: 50%;
    height: 100px;
    width: 100px;
}