<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      <h5 class="text-body-emphasis h4">Profile</h5>
      <span class="text-body-secondary">Back</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <img src="../assets/logo.png" height="50px" width="150px">
  
      <form class="d-flex" role="search">
      
        <button class="btn " type="submit"><img src="../assets/search.svg" height="30px"  width="30px"></button>
        <img src="../assets/shopping-cart.png" height="30px"  width="30px" class="cart">
      </form>
     
    </div>
    
  </nav>
  <body>
    <nav>
        <ul id='navbar'>
            <li><a href="#welcome">Home</a></li>

<h1>Profile</h1>
<img src="/assets/dp2.jpg" height="300px"  width="300px"  class="pimg">
<section id="welcome">
    <h2>Inno Ncambela</h2>
    <h2>Welder <img src="/assets/iconmonstr-construction-3.svg" height="30px" width="30px" class="cimg"></h2>
    <div>
    <a href="https://web.whatsapp.com/" target="_blank"><button class="button button1"><i class="fa fa-github"></i> WhatsApp</button></a>
    </div>
    <div>

        <h4>Welcome to my portfolio. This is where I showcase my welding work.</h4>
    </div>
    <section id="about">
        <div class="about-grid-container">
            <div class="item_about">
            <p>ABOUT ME</p>
             <h6>Hi there, my name is Inno Ncambela, I'm a local selfmade welder who reside at Philippi East informal settlements,called Never-Never just before Vuyiseka Sports Complax. That's where I sell my stuff from, stuff like Gates, door buglars and window buglar</h6>