<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      <h5 class="text-body-emphasis h4">All Help Topics</h5>
      <span class="text-body-secondary">Return to menu.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <img src="../assets/logo.png" height="50px" width="150px">
  
      <form class="d-flex" role="search">
      
        <button class="btn " type="submit"><img src="../assets/search.svg" height="30px"  width="30px"></button>
        <img src="../assets/shopping-cart.png" height="30px"  width="30px" class="cart">
      </form>
     
    </div>
    
  </nav>
  
  <h1 class="header">Help Center</h1>
  <h2>How can we help you ?</h2>
  
  
  <input type="text" placeholder="search our help center">
  <button class="button1">View Order</button>
  <button class="button2">Pick Up Points</button>
  <button class="button3">Track My Order</button>
  
  <h3>Popular Questions:</h3>
  
  <div class="questions">
     <div class="par1">
      <p class="para1">How do I cancel my order</p>
      <img src="../assets/right.png" height="15px" width="15px">
     </div>
  
     <div class="par2">
      <p class="para2">Track My Order</p>
      <img src="../assets/right.png" height="15px" width="15px">
     </div>
  
     <div class="par3">
      <p class="para3">Reschedule My return selection</p>
      <img src="../assets/right.png" height="15px" width="15px">
     </div>
     <div class="par4">
      <p class="para4">How do I get refund instead of replacing item</p>
      <img src="../assets/right.png" height="15px" width="15px">
     </div>
   
  
  </div>
  