<!-- <p>Our-Traders</p>

<hr><div class="divs">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <img src="../assets/logo.png" height="50px" width="150px">
  
      <form class="d-flex" role="search">
  
        <button class="btn " type="submit"><img src="/assets/search.svg" height="30px"  width="30px"></button>
        <img src="../assets/shopping-cart.png" height="30px"  width="30px" class="cart">
      </form>
    </div>
  </nav>

    <div class="list-div" >
      <h2 class="text-center ">Our Traders</h2>
    
      <ul class="traders">
        <!-- <li *ngFor="let trader of traders"> -->
          <!-- <a routerLink="/detail/{{trader.id}}"> -->
            <!-- <span class="badge"></span>{{trader.trader_name}}         -->
            
          <!-- </a> -->
          <!-- <button type="button" class="delete" title="delete trader"
            (click)="delete(trader)">x</button> -->
        <!-- </li> -->
      <!-- </ul>
    </div>
     
    
    
    
    <div class="adding_details">
    
      <div class="div1">
        <label for="new_trader">Trader name: </label>
        <input id="new_trader" #traderName>

        <label for="trader_age">Trader age: </label>

        <input id="age" #age />
      
        <label for="type_business">type of business: </label>
        <input id="type_of_business" #typeOfbusiness />
      </div>
      
     <div class="div2">
        <label for="name_of_business">Name of business: </label>
        <input id="name_of_business" #BusinessName />
    
      <label for="items">Items: </label>
      <input id="items" #items />
    
      <label for="trader_nationality">Trader Nationality: </label>
      <input id="nationality" #nationality />
    
      <div> (click) passes input value to add() and then clears the input 
        <button type="button" class="add-button" (click)="add(traderName.value, age.value, typeOfbusiness.value, items.value, nameOfbusiness.value, nationality.value ); traderName.value=''">
          Add 
        </button></div>
    </div>
    </div>
    </div> -->
